<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xunserver home</title>
    <link rel="stylesheet" href="static/css/home.css" >
    <link rel="icon" href="titleimg.ico" type="image/x-icon">
</head>
<body>
    <center>
        <h1 class="color">Xunserver</h1>
        <br>
        <p class="color">welcome~ =w=</p>
        <p class="color">Here,Looking for you Minecraft server.</p>
        <p class="color">If you want to jump to FindServer, please click on the hyperlink below.</p>
        <a href="/xserver" target="_blank">
            <p>Start looking for fun servers</p>
        </a>
        <p class="color">Wishing you happiness!!!</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/register" target="_blank">
            <p>to register</p>
        </a>
        <a href="/login" target="_blank">
            <p>to login</p>
        </a>
        <p class="color" >Creator zhang_simple</p>
        <p class="color">There are already 19 server data here! Welcome to join!</p>
        <p class="color">If there are still areas where the work is not done well, zhang_simple's email: 19884372639@163.com</p>
        <p class="color">version 2.0.0</p>


    </center>
</body>
</html>




