<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xunserver regsiter</title>
        <link rel="stylesheet" href='usercreate.css'>
        <link rel="icon" href="titleimg.ico" type="image/x-icon">
    </head>
    <body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <div style="background-color: #DAEAF1;">
            <h1>Xunserver register</h1>
        </div>
        <a href="http://localhost:63342/pythonProject/%E7%AB%9E%E8%B5%9B/newpage/home.html?_ijt=ujs346trinrf75bvb3div9btum&_ij_reload=RELOAD_ON_SAVE" target="_blank">
            <button type="password" name="password" placeholder="password" style="padding: 5px; border: 1px solid #0052cc; border-radius: 5px; background-color: #e6f7ff;">goto home</button>
        </a>
            <center>
                <br>
                <br>
                <br>
                <br>

                <p style="font-family:Arial, sans-serif; font-weight:bold;color:#041143;" >Enter your Username</p>
                <input type="text" name="username" placeholder="username" style="padding: 10px; border: 1px solid #0052cc; border-radius: 5px; background-color: #e6f7ff;">
                <br>
                <p style="font-family:Arial, sans-serif; font-weight:bold;color:#041143; ">Enter your password</p>
                <input type="password" name="password" placeholder="password" style="padding: 10px; border: 1px solid #0052cc; border-radius: 5px; background-color: #e6f7ff;">
                <br>
                <p style="font-family:Arial, sans-serif; font-weight:bold;color:#041143; ">Please enter your password again</p>
                <input type="password" name="password" placeholder="password" style="padding: 10px; border: 1px solid #0052cc; border-radius: 5px; background-color: #e6f7ff;">
                <br>
                <br>
                <br>
                <button value="Submit" style="padding: 10px; border: 1px solid #0052cc; border-radius: 5px; background-color: #e6f7ff;">Create an account</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>©zhang_mc to2024/5 2.0.1</p>
            </center>
    </body>
</html>